[user]
	name = Scott McLeod
	email = halcyonblue@gmail.com
[core]
	editor = vim -f
	autocrlf = input
	safecrlf = true
[merge]
	tool = meld
[push]
	default = tracking
[mergetool]
	prompt = false
[diff]
	ignoreSubmodules = dirty
[github]
	user = halcyon
[filter "revision"]
	smudge = revision_smudge.rb
	clean = revision_clean.rb
