[user]
	name = Scott McLeod
	email = scott.mcleod@theice.com
[core]
	editor = vim -f
	autocrlf = input
	safecrlf = true
[merge]
	tool = meld
[push]
	default = tracking
[mergetool]
	prompt = false
[diff]
	ignoreSubmodules = dirty
[filter "rev"]
	smudge = rev_smudge.rb
	clean = rev_clean.rb
