directory = ~/rtorrent
port_range = 32459-32459
encryption = try_outgoing,allow_incoming,enable_retry,prefer_plaintext
download_rate = 0
upload_rate = 30
dht = disable
session = ~/rtorrent/session
schedule = watch_directory,5,5,load_start=~/rtorrent/watch/*.torrent
#schedule = untied_directory,5,5,stop_untied=
